/* width: 80%; height: 300px; border-radius: 21px 21px 0 0; */

.section {
    margin: 3rem;
    padding: 3rem;
    border-radius: 21px;
  }
  
  .text-bg-dark {
    background-color: #343a40;
    color: white;
  }
  
  .bg-body-tertiary {
    background-color: #e9ecef;
  }
  
  .me-md-3 {
    margin-right: 1rem;
  }
  
  .pt-3 {
    padding-top: 1rem;
  }
  
  .px-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .pt-md-5 {
    padding-top: 3rem;
  }
  
  .px-md-5 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }
  
.img_img{
  width: 55%;
  transition: transform 0.3s ease;
}
.img_img:hover{
  transform: scale(1.05);
}
